*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    height: 80px;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;

}
.myntra-home{
    height: 45px;
    

}
.logo-container{
    margin-left: 4%;
}
.action-bar{
    margin-right: 4%;
}
.nav-bar{
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}
.nav-bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-bar a sup {
    color: crimson;


}
.search-bar{
    height: 40px;
    min-width: 400px;
    display: flex;
    align-items: center;
}
.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;

    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;

  
}
  .search_input{
    color: #696e79;
    
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
  }
  


