*{
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
}
img{
    height: 100px;
}
#image-container{
    border: 2px solid black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 25px;
    padding: 10px;
}
header{
    background-color: blanchedalmond;
}
#box-container{
    border: 2px solid;
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 300px;
}
#box3{
    flex-grow: 1;
    flex-shrink: 1;
}
.box{
    height: 60px;
    width: 60px;
    border: 2px solid red;
}


#media-box{
    height: 50px;
    width: 50px;
    background-color: cadetblue;
    border: 2px solid salmon;
    
}
@media screen  and ( min-width: 300px) and ( max-width: 400px){
    #media-box{
        background-color: red;
    }
}
@media screen  and ( min-width: 400px){
    #media-box{
        background-color: blue;
    }
}